html 
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0") 
        link(rel="stylesheet", href="/assets/css/bootstrap.min.css")
        link(rel="stylesheet", href="/assets/css/dataTables.bootstrap5.css")
        link(rel="stylesheet", href="/assets/icons")
        link(rel="stylesheet", href="/assets/css/style.css")
        script(defer src="/assets/js/bootstrap.min.js")
        script(defer src="/assets/js/bootstrap.bundle.min.js")
        script(defer src="/assets/js/dataTables.js")
        script(defer src="/assets/js/dataTables.bootstrap5.js")
        script(defer src="/assets/js/script.js")
        script(defer src="https://code.jquery.com/jquery-3.5.1.js")
        title 407 ACTG CS | Members
    body 
        div
            include partials/navbar
            div(class="container-sm mt-4")
                div(class="text-right")
                    button(type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#membershipFormModal") Add Product
                div(class="modal fade" id="membershipFormModal" tabindex="-1" aria-labelledby="membershipFormModalLabel" aria-hidden="true")
                    div(class="modal-dialog")
                        div(class="modal-content")
                            div(class="modal-header")
                                h1(class="modal-title fs-5" id="exampleModalLabel") Membership Form
                                button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
                            div(class="modal-body")
                                form(action="/admin/addmember" method="POST")
                                    div(class="mb-2")
                                        input(type="text" id="svcno" name="svcno" required class="form-control" placeholder="Service Number" aria-label="svcno" aria-describedby="addon-wrapping")
                                    div(class="mb-2")
                                        input(type="text" id="fullname" name="fullname" required class="form-control" placeholder="Full Name" aria-label="fullname" aria-describedby="addon-wrapping")
                                    div(class="mb-2")
                                        label(class="me-3" for="brand") Unit
                                        input(type="text" id="unit" name="unit" required class="form-control" placeholder="Unit" aria-label="unit" aria-describedby="addon-wrapping")
                                    div(class="mb-2")
                                        label(class="me-3" for="category") Category
                                        select(id="category" name="category" required class="form-control" placeholder="Category" aria-label="category" aria-describedby="addon-wrapping") 
                                            option(value="") Select Category
                                            option(value="Beauty and Care") Beauty and Care
                                            option(value="Baby Products") Baby Products 
                                            option(value="Drink") Drink 
                                            option(value="Fashion") Fashion 
                                            option(value="Furniture") Furniture 
                                            option(value="Food") Food 
                                            option(value="Toys and Hobbies") Toys and Hobbies 
                                            option(value="Household Essentials") Household Essentials 
                                            option(value="Consumer Electronics") Consumer Electronics 
                                            option(value="Apparel and Accessories") Apparel and Accessories 
                                            option(value="Books") Books 
                                            option(value="Stationary") Stationary 
                                    div(class="mb-2")
                                        label(class="me-3" for="cost") Cost
                                        input(type="number" id="cost" name="cost" required class="form-control" placeholder="Cost" aria-label="cost" aria-describedby="addon-wrapping")
                                    div(class="mb-2")
                                        label(class="me-3" for="image") Image
                                        input(type="file" id="image" name="image" accept="image/*"  class="form-control" placeholder="Image" aria-label="image" aria-describedby="addon-wrapping")
                                    div(class="mb-2")
                                        label(class="me-3" for="quantity") Quantity
                                        input(type="number" id="quantity" name="quantity" class="form-control" placeholder="Quantity" aria-label="quantity" aria-describedby="addon-wrapping")
                                    div(class="mb-2")
                                        label(class="me-3" for="weight") Weight
                                        input(type="number" id="weight" name="weight" required class="form-control" placeholder="Weight" aria-label="weight" aria-describedby="addon-wrapping")
                                    div(class="mb-2")
                                        label(class="me-3" for="description") Description
                                        textarea(type="text" id="description" name="description" required class="form-control" placeholder="Description" aria-label="description" aria-describedby="addon-wrapping") 
                                    div(class="mb-2")
                                        label(class="me-3" for="status") Status
                                        select(id="status" name="status" class="form-control" placeholder="Status" aria-label="status" aria-describedby="addon-wrapping") 
                                            option(value="") Select Status 
                                            option(value="in stock") In stock 
                                            option(value="not in stock") Not in stock
                                    div(class="modal-footer")
                                        button(type="submit" class="btn btn-warning") Submit
                if !products.length
                    div There are no products to display
                else
                    div(class="product-table" style="overflow-x: auto")
                        table(id="example" class="table table-hover table-bordered table-striped")
                            thead
                                tr
                                    th Product Code
                                    th Name
                                    th Brand 
                                    th Status
                                    th(colspan=2 class="text-center") Actions
                            tbody
                                each product in products
                                    tr 
                                        td=product.code
                                        td=product.name 
                                        td=product.brand 
                                        td=product.status
                                        td(class="text-center")
                                            a(class="btn btn-success mx-2" href=`/admin/product/${product.id}`) View
                                        td(class="text-center")
                                            a(class="btn btn-danger mx-2" data-bs-toggle="modal" data-bs-target="#deleteProductModal") Delete
                                        div(class="modal fade" id="deleteProductModal" tabindex="-1" aria-labelledby="deleteProductModalLabel" aria-hidden="true")
                                                div(class="modal-dialog")
                                                    div(class="modal-content")
                                                        div(class="modal-header")
                                                            h1(class="modal-title fs-5" id="exampleModalLabel") Delete Product
                                                            button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
                                                        div(class="modal-body")
                                                            form(action=`/admin/product/delete/${product.id}` method="POST")
                                                                div(class="input-group flex-nowrap mb-4")=`Are you sure you want to delete ${product.name}`   
                                                                div(class="modal-footer")
                                                                    button(type="submit" class="btn btn-danger") Confirm Delete
        include partials/footer